# VISUALIZATION OF TOTAL CRIMES IN EACH STATES OF INDIA BETWEEN                                                  2001 AND 2012 USING CHOROPLETH MAP AND BARPLOTS

## IMPORTING NECESSARY LIBRARIES

 Folium- Drawing maps <br>
 imageio- Converting set of images to gif<br>
 selenium webdriver- Taking screenshots of maps generated<br>

In [2]:
import pandas as pd
import folium
import os
import time as t
import imageio
from datetime import datetime
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

Downloaded data from https://www.kaggle.com/shishir349/indian-crime-analysis?select=crimes.csv

In [13]:
data=pd.read_csv("india_crimes.csv")
data.head()

,STATE/UT,YEAR,Pupose,Total No. of cases reported,Male upto 10 years,Female upto 10 years,Male 10-15 years,Female 10-15 years,Male 15-18 years,Female 15-18 years,Male 18-30 years,Female 18-30 years,Male 30-50 years,Female 30-50 years,Male above 50 years,Female above 50 years,Total Male,Total Female,Grand Total
0,Andhra Pradesh,2001,For Adoption,8,3,1,0,0,0,0,0,4,0,0,0,0,3,5,8
1,Andhra Pradesh,2001,For Begging,2,0,0,2,0,0,0,0,0,0,0,0,0,2,0,2
2,Andhra Pradesh,2001,For Camel racing,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Andhra Pradesh,2001,For Illicit intercourse,78,0,2,0,25,0,24,0,25,0,2,0,0,0,78,78
4,Andhra Pradesh,2001,For marriage,339,0,0,0,73,1,164,6,91,0,4,0,0,7,332,339

Taking only relevant columns for visualization

In [20]:
sub=data[["STATE/UT","YEAR","Pupose","Total Male","Total Female","Grand Total"]]
sub=sub[sub["Pupose"]=="Total"]
sub.drop("Pupose",axis=1,inplace=True)

In [18]:
print(sorted(sub["STATE/UT"].unique()))

['Andaman and Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Orissa', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttaranchal', 'West Bengal']

Renaming States and Union Territories as per my requirement

In [19]:
sub["STATE/UT"] = sub["STATE/UT"].replace({'Jammu & Kashmir':'Jammu and Kashmir', 'Odisha':'Orissa', 'Uttarakhand':'Uttaranchal','A&N Islands':'Andaman and Nicobar','D&N Haveli':'Dadra and Nagar Haveli',
                   'Delhi UT':'Delhi','Daman & Diu':'Daman and Diu',})
print(sorted(sub["STATE/UT"].unique()))

['Andaman and Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Orissa', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttaranchal', 'West Bengal']

Sort the whole dataframe by YEAR

In [21]:
sub.sort_values("YEAR",inplace=True)

In [22]:
Years=sub["YEAR"].unique()
Years

array([2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012], dtype=int64)

In [23]:
india_geojson = r'india_states.geojson' # geojson file
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")
driver = webdriver.Chrome(executable_path="C:\Python27\Scripts\chromedriver.exe",chrome_options=options)
options.headless = False

C:\Users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: use options instead of chrome_options
  after removing the cwd from sys.path.

## CHOROPLETH MAP
Creating subsets of dataframe for each year <br>
Creating a Terrain map of Indian Map using folium <br>
On to which colors are specified based on the Grand Total attribute on each State/Union Territory<br>
File is then saved appending with the current timestamp

In [ ]:
for year in Years:
    temp=sub[sub["YEAR"]==year]
    india_map = folium.Map(location=[21.6937, 78.9629],max_zoom=5, tiles='Stamen Terrain',height=700)
    india_map.choropleth(
    geo_data=india_geojson,
    threshold_scale=[0, 500, 1500, 3500,6000 ,9000],
    data=temp,
    columns=['STATE/UT', 'Grand Total'],
    key_on='feature.properties.NAME_1',
    fill_color='YlOrRd',
    legend_name=str(year)+" : Total Crimes",
    )
    india_map.save('map.html')
    driver.get('file:///F:/pY/Exp/map.html')
    now = datetime.now()
    hms=now.strftime("%H_%M_%S")
    driver.save_screenshot("pageImage.png")
    os.rename('pageImage.png', "pageImage"+hms+".png")

GIF is generated using the png images formed

In [ ]:
path = "F:/pY/Exp/"
image_folder = os.fsencode(path)

filenames = []

for file in os.listdir(image_folder):
    filename = os.fsdecode(file)
    if filename.endswith( ('.png') ):
        filenames.append(filename)

filenames.sort()
images = list(map(lambda filename: imageio.imread(filename), filenames))
imageio.mimsave(os.path.join('movie_zoom4.gif'), images, duration = 1.2)

![SegmentLocal](movie_zoom4.gif "segment")

## BARPLOTS

In [25]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
for year in Years:
    plt.figure(figsize=(30,28))
    temp=sub[sub["YEAR"]==year]
    temp.sort_values("STATE/UT",inplace=True)
    sns.set(font_scale=2.4)
    g =sns.barplot(x='Grand Total',y='STATE/UT',data=temp)
    for p in g.patches:
        percentage = int(p.get_width())
        x = p.get_x() + p.get_width() + 4
        y = p.get_y() + p.get_height()/1.4
        g.annotate(percentage, (x, y))
        plt.title(str(year))
        now = datetime.now()
        hms=now.strftime("%H_%M_%S")
    plt.savefig("crimes"+hms+".png")

In [ ]:
path = "F:/pY/Exp/"
image_folder = os.fsencode(path)

filenames = []

for file in os.listdir(image_folder):
    filename = os.fsdecode(file)
    if filename.endswith( ('.png') ):
        filenames.append(filename)

filenames.sort()
images = list(map(lambda filename: imageio.imread(filename), filenames))
imageio.mimsave(os.path.join('crimes_plot.gif'), images, duration = 1.2)

![SegmentLocal](crimes_plot.gif "segment")